*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Assistant', sans-serif;
}

.total-container{
  width: 80%;
  margin: 20px auto;
}

header{
  height: 700px;
  background-image: url(../img/background-header.png);
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: right bottom;
  background-color: #2A4781;
  position: relative;
}

.container{
  width: 80%;
  margin: auto;
}

.menu-inline{
  list-style: none;
}

.menu-inline li {
  display: inline-block;
}

.header-top{
  height: 100px;
  line-height: 100px;
}

.menu-inline .primo{
  border-radius: 5px;
  background: rgba(0, 0, 0, 0);
  color: white;
  padding: 5px 20px;
  border: solid thin white;
}

.menu-inline .secondo{
  border-radius: 5px;
  background: #7CBB02;
  padding: 5px;
  color: white;
  border-color: #7CBB02;
}

.header-top::after{
  content: "";
  display: block;
  clear: both;
}

.header-top-logo{
  float: left;
  width: 20%;
}

.header-top-logo > img{
  vertical-align: middle;
}

.header-top-nav-left{
  float: left;
  width: 40%;
}

.header-top-nav-right{
  float: left;
  width: 40%;
  text-align: right;
}

.header-top li{
  margin: 0 10px;
}

.header-top li a{
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}

.banner {
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 30px;
}

.bottone-banner{
  border-radius: 5px;
  background: #7CBB02;
  padding: 15px;
  color: white;
  border-color: #7CBB02;
  margin-top: 30px;
}

.main-top{
  height: 120px;
  background-color: lightgrey;
  position: relative;
}

.text-container{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  line-height: 30px;
}

.text-container > p{
  color: darkgrey;
}

.wrapper{
  width: 70%;
  margin: 40px auto;
}

.col {
  width: 22%;
  margin: 0 5%;
  float: left;
  text-align: center;
}

.section-top::after{
  content: "";
  display: block;
  clear: both;
}

.section-top{
  margin-bottom: 40px;
}

.section-top img{
  width: 150px;
  height: 150px;
}

.col > h2{
  color: #7CBB02;
}

hr{
  width: 50px;
  margin: 10px auto;
}

.separatore{
  width: 100%;
  margin-bottom: 30px;
}

.prima-colonna{
  width: 50%;
  float: left;
  text-align: center;
}

.seconda-colonna{
  width: 20%;
  float: left;
}

.prima-colonna > img {
  width: 300px;
  height: 300px;
}

.seconda-colonna > p{
  font-size: 15px;
  color: grey;
  margin-top: 10px;
}

.seconda-colonna > a{
  font-size: 10px;
}

.section-bottom::after{
  content: "";
  display: block;
  clear:both;
}

footer{
  height: 120px;
  background-color: lightgrey;
}

.footer-col-sx{
  width: 50%;
  float: left;
}

.footer-col-sx > h2{
  text-align: center;
  line-height: 120px;
}

.footer-col-dx{
  width: 50%;
  float: left;
  position: relative;
}

ul > li{
  list-style: none;
  display: inline-block;
  line-height: 120px;
  margin: 0 10px;
}

.footer-button{
  border-radius: 5px;
  background: #7CBB02;
  padding: 10px;
  color: white;
  border-color: #7CBB02;
}

.special{
  position: absolute;
  bottom: 0;
  left: 18%;
}
